# Python

## Table on Contents

* [Basic Python Data Structures](#bpds)
    * [Variables and Types](#vat)
        * [Numbers](#num)
        * [Strings](#str)
    * [Lists](#lst)
    * [Tuples](#tup)
    * [Sets](#set)
    * [Dictionaries](#dict)

![image.png](https://www.python.org/static/img/python-logo@2x.png)

Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured, object-oriented and functional programming. 

The official Website can be found [here](https://www.python.org/).

## Basic Python Data Structures<a class="anchor" id="bpds"></a>

## Hello World

In [3]:
print('Hello World')

Hello World

# Variables and Types<a class="anchor" id="vat"></a>
1. Numbers
2. Strings

## Numbers<a class="anchor" id="num"></a>

In [4]:
a = 3
b = 3.0
print(a)
print(b)

3
3.0

What is the difference, both look the same.

In [5]:
print(type(a))

<class 'int'>

In [6]:
print(type(b))

<class 'float'>

## Basic math operations

What will happen if we divide the two.

In [7]:
print(a/b)

1.0

In [8]:
print(b/a)

1.0

What will happen if we multiply both.

In [9]:
print(a*b)

9.0

Subtraction

In [10]:
print(a-b)

0.0

Addition

In [11]:
print(a+b)

6.0

Remainder

In [12]:
print(a%b)

0.0

Squared

In [13]:
print(a**2)

9

-----

### Practice
Practice all the operators that you have just seen.

----

## Strings<a class="anchor" id="str"></a>

In [14]:
s1 = "This is a string"
s2 = "This is also a string"
s3 = '''This too is a string''' ## you can write multiline strings using ''' triple quotes '''

Strings are iterables and can be indexed and looped through

In [15]:
s1[0]

'T'

In [16]:
s1[2]

'i'

In [17]:
s1[-1]

'g'

You can run a loop to iterate over all.

In [18]:
for s in s1:
    print(s)

T
h
i
s

i
s

a

s
t
r
i
n
g

## Some peculiarities of strings

In [19]:
a = 4 
print(a) ## you can change numbers at place

4

In [20]:
print(s1)
s1 = 'This is not a string'
print(s1) ## you can overwrite the whole string

This is a string
This is not a string

In [21]:
s1[0]="h" #but you can't change the strings in place

TypeError: 'str' object does not support item assignment

In [22]:
print(s1)
print(s2)

This is not a string
This is also a string

you can concatenate two strings

In [23]:
print(s1+s2)

This is not a stringThis is also a string

In [24]:
print(s1+" "+s2)

This is not a string This is also a string

## F String

A way for us to dynamically create strings.

In [25]:
print(f'{s1} {s2}') #you can also use f-strings

This is not a string This is also a string

## Quotes behaviour

In [26]:
### Quotes behaviour
s1 = '"This has a quote"'
s2 = 'This has a quote'
s1 == s2

False

In [27]:
s1.replace('"',"")

'This has a quote'

In [28]:
s1.replace('"',"") == s2

True

## How do we know what operations can be done on strings?

Short Answer: Every thing in python is a [class](https://en.wikipedia.org/wiki/Class_(computer_programming)). And one can easily figure out what are the functions supported by objects of a class. We will discuss python classes in more detail in upcoming sessions.

In [30]:
### How to use the methods, once we know what methods are supported by a particular class?
s1.lower()

'"this has a quote"'

In [31]:
s1

'"This has a quote"'

In [32]:
### Try using title method
s1.title()

'"This Has A Quote"'

In [33]:
s1.count('a')

2

-----

### Practice

----

Give the text 

"Hurricane Sergio was a powerful and long-lived tropical cyclone that hit the Baja California Peninsula as a tropical storm and caused flooding throughout southern Texas in early October 2018."

Try out the concepts taught above.

## How do we find out what a method does?
1. Google
2. Use python documentation

In [32]:
?s1.title

In [33]:
## What does the method split does?

## Lists<a class="anchor" id="lst"></a>
- Lists are general buckets
- They can be used to store many types of data including lists themselves

In [35]:
my_list = [1,2,3,4,'a','b']

In [36]:
my_list[0]

1

In [37]:
for i in my_list:
    print(i)

1
2
3
4
a
b

In [38]:
my_list.append(169)

In [39]:
my_list

[1, 2, 3, 4, 'a', 'b', 169]

In [40]:
my_list_2 = [80,90,100]

In [41]:
my_list+my_list_2

[1, 2, 3, 4, 'a', 'b', 169, 80, 90, 100]

In [42]:
my_list.extend(my_list_2)

In [43]:
my_list

[1, 2, 3, 4, 'a', 'b', 169, 80, 90, 100]

In [45]:
len(my_list)

10

In [46]:
print(my_list * 2)

[1, 2, 3, 4, 'a', 'b', 169, 80, 90, 100, 1, 2, 3, 4, 'a', 'b', 169, 80, 90, 100]

--------

### Practice

--------

Given the list 

[1, 2, 3, 4, 169, 80, 90, 100]

Try out all the concepts taught above.

## Tuples<a class="anchor" id="tup"></a>
- Work for the most part like lists
- Their values can't be changed in-place.

In [46]:
my_tuple = (1,2,3,4)
my_list = [1,2,3,4]

In [47]:
for i in my_tuple:
    print(i)

1
2
3
4

In [48]:
my_list[0]

1

In [49]:
my_list[0]=100

In [50]:
my_list

[100, 2, 3, 4]

In [51]:
my_tuple[0]

1

In [52]:
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

--------

### Practice

--------

Given the tuple 

(1, 2, 3, 4)

Try out all the concepts taught above.

## Sets<a class="anchor" id="set"></a>

- They behave like mathematical sets
- Come in handy while doing set operations such as intersection (to find common items) etc

In [53]:
# finds the unique alphabets in a string
set("india")

{'a', 'd', 'i', 'n'}

In [54]:
set_a = set(['a','b','c','c'])
set_b = {'b','c','d'}

In [55]:
type(set_a)

set

In [56]:
type(set_b)

set

In [58]:
for i in set_a:
    print(i)

a
b
c

In [59]:
set_a[0]

TypeError: 'set' object is not subscriptable

In [ ]:
set_a.intersection(set_b)

In [ ]:
set_a.difference(set_b)

In [ ]:
set_a == set_b

In [ ]:
set_c = {'a','b','c'}

In [ ]:
set_a == set_c

--------

### Practice

--------

Given the sets below

{'b','c','d'}

{'x','y','z'}

Try out all the concepts taught above.

## Dictionaries<a class="anchor" id="dict"></a>

- Key-value pairs
- Indices have no order

In [60]:
d = {'name':'a','age':29,'prev_companies':['abc','def']}

In [61]:
d[0]

KeyError: 0

In [ ]:
d['name']

In [ ]:
d['prev_companies']

In [ ]:
d['prev_companies'][-1]

In [ ]:
for i in d:
    print(i)

In [ ]:
for i in d:
    print(d[i])

In [ ]:
d['new_key'] = 'value'

In [ ]:
d

In [ ]:
'value' in d

In [ ]:
'new_key' in d

--------

### Practice

--------

Given the sets below

{'b','c','d'}

{'x','y','z'}

Try out all the concepts taught above.